
<form method="post" action="/login">
  <label>Username</label>
  <br />
  <input type="text" name="username"/>
  <br />
  <br />
  <label>Password</label>
  <br />
  <input type="password" name="password"/>
  <br />
  <br />
  <input type="submit" name="submit" value="Submit"/>

</form>
